@using EbookStore.Client.Helper;
@using EbookStore.Client.RefitClient;
@using EbookStore.Contract.ViewModel.Pagination;
@using EbookStore.Contract.ViewModel.Sale.Request;
@using EbookStore.Contract.ViewModel.Sale.Response;
@using Newtonsoft.Json;
@using Refit;
@inject ISaleClient _saleClient;

@{
    UserManager userManager = new UserManager(this.User);
    List<SaleResponse> data = new List<SaleResponse>();
    PaginationHeader paginationHeader = null;

    if (userManager.IsLogin())
    {
        var token = userManager.GetToken();
        SaleQueryRequest queryRequest = new SaleQueryRequest
                {
                    PageNumber = 1,
                    PageSize = 10,
                    Name = string.Empty,
                    StartDate = DateTime.MinValue,
                    EndDate = DateTime.MaxValue
    };
        ApiResponse<List<SaleResponse>> response
                    = await _saleClient.GetResponseAsync(queryRequest, token);
        string headerString = await response.GetPaginationHeader();
        paginationHeader = JsonConvert.DeserializeObject<PaginationHeader>(headerString);
        data = response.ReadResult();
    }

}

@{
    ViewData["Title"] = "Sale List";
}
<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">
            Sale
            List
        </span>
    </h2>
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                
                <table>
                    <thead>
                        <tr>
                            <th>Sale</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SaleResponse sale in data)
                        {
                            <tr>@sale.SalePercent</tr>
                            <tr>@sale.EndDate</tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

<!-- Products End -->
