﻿@using EbookStore.Client.Helper;
@using EbookStore.Client.RefitClient;
@using EbookStore.Contract.ViewModel.Book.BookResponse;
@using EbookStore.Contract.ViewModel.CartItem.Request;
@using Refit;
@inject ICartlistClient _cartlistClient;

@{
    UserManager userManager = new UserManager(this.User);
    List<BookResponse> cartlist = new List<BookResponse>();
    double TotalPrice = 0;
    List<int> bookIdList = new();
    if (userManager.IsLogin())
    {
        var token = userManager.GetToken();
        CartItemQueryRequest cartlistQsueryRequest = new CartItemQueryRequest()
                {
                    Title = string.Empty,
                    Genres = new List<int>(),
                    PageSize = int.MaxValue,
                    PageNumber = 1,
                    EndReleaseDate = DateTime.MaxValue,
                    StartReleaseDate = DateTime.MinValue,
                };
        ApiResponse<List<BookResponse>> cartBooks = await _cartlistClient.GetResponseAsync(cartlistQsueryRequest, token); 
        cartlist = cartBooks.ReadResult();
    }
}

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shopping Cart</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                    @foreach (BookResponse book in cartlist)
                    {
                        TotalPrice += book.Price;
                        <form asp-controller="Cartlist" asp-action="Delete" method="post">
                                <input type="hidden" name="bookId" value=@book.Id />
                            <tr>
                                <td class="align-middle"><img src="@book.CoverImage" alt="" style="width: 50px;">@book.Title</td>
                                <td class="align-middle">@book.Price</td>
                                <td class="align-middle"><button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></td>
                            </tr>
                        </form> 
                    }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>$@TotalPrice</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            @{
                                var Total = TotalPrice;
                            }
                            <h5>$@Total</h5>
                        </div>
                        <form asp-controller="Cartlist" asp-action="AddToLibrary" method="post">
                            @foreach (BookResponse book in cartlist)
                            {
                                <input type="hidden" name="cartAddBookId" value=@book.Id />
                            }
                                <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>


</body>
